<!-- views/index.erb -->

<ul>
<!--creates a group for lists to sit in-->
<!--- Unordered list (not numbered)--

  <% @files.each do |file| %>
  <!--Iterates through the array of filenames
      and creates a list of links to the files-->
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit"> Edit</a>
      
      <form action="/<%= file %>/delete_file" method="post">
        <button type="submit">Delete</button>
      </form>>
    </li> 
    <!-- this href is stored in a list item -->
    <!-- href references a URL, and then uses some
    text to store that url in a link.-->
  <% end %>
  

</ul>

<p><a href="/new_document"> New Document </a></p>

<% if session[:signin_status] == true %>
  <form action="/signout" method="post">
    <p>You are signed in as <%= session[:username] %></p>
    <button type="submit">Sign Out</button>
  </form>
<% else %>
    <p><a href="/signin">Sign In</a></p>
<% end %>
